<div id="form-container">
    <h1 i18n>Rapport de défauts</h1>

    <form [formGroup]="defectForm" (ngSubmit)="onSubmitDefectForm()">        
        <mat-error class="general-error" *ngIf="!networkStatus" i18n>Connectez vous à internet pour envoyer votre rapport</mat-error>

        <div>
            <mat-form-field appearance="fill">
                <mat-label i18n>Type de défaut</mat-label>
                <mat-select formControlName="defectType" required>
                  <mat-option value="delaminage" i18n>Délaminage</mat-option>
                  <mat-option value="porosite" i18n>Porosité</mat-option>
                  <mat-option value="inclusion" i18n>Inclusion</mat-option>
                </mat-select>
                <mat-error *ngIf="defectForm.get('defectType')?.hasError('required')" i18n>Ce champs est requis</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label i18n>Nom de l'opérateur</mat-label>
                <input matInput formControlName="operatorName" required>
                <mat-error *ngIf="defectForm.get('operatorName')?.hasError('required')" i18n>Ce champs est requis</mat-error>
                <mat-error *ngIf="defectForm.get('operatorName')?.hasError('pattern')" i18n>Ce champs ne doit pas comporter de chiffres</mat-error>
            </mat-form-field>
        </div>
          
        <div>
            <mat-form-field appearance="fill">
                <mat-label i18n>Informations supplémentaires</mat-label>
                <textarea matInput formControlName="additionalNote" rows="5"></textarea>
            </mat-form-field>
        </div>

        <div>
            <button mat-flat-button type="submit" class="btn-large" color="primary" [disabled]="defectForm.invalid" i18n>Envoyer</button>
        </div>
    </form>
</div>